<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="./css/style.css" rel="stylesheet" />
		<title>About</title>
	</head>
	<body>
		<div class="about">
			<%- include('../components/nav.ejs') %>
			
			<div class="about-top">
				
				<img src="./img/6.jpg" alt="photo" />
				<div>
					<h1>Haoren Qu</h1>
					<p>male 21岁 centennial college</p>
				</div>
				
				<a href="/contactMe"><button>Contact Me</button></a>
			</div>
			
			<div class="about-bottom">
				<p>my advantages：</p><br/>
				<p>1. experience</p>
				<p>2. attitude</p>
				<p>3. skill</p>
				<p>4. master two languages</p>
				
			</div>
			
			<%- include('../components/footer.ejs') %>
			
			
		</div>
		<script src="./js/index.js"></script>
	</body>
</html>