<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="./css/style.css" rel="stylesheet" />
		<title>Home</title>
	</head>
	<body>
		<div class="home">
			
			<%- include('../components/nav.ejs') %>
			
			
			<img src="./img/2.jpg" />
			<h1>Welcome</h1>
			<p>This is not a cool personal portfolio website</p>
			<p>But I did it carefully</p>
			
			
			<%- include('../components/footer.ejs') %>
			
		</div>
		<script src="./js/index.js"></script>
	</body>
</html>