<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="./css/style.css" rel="stylesheet" />
		<title>Project</title>
	</head>
	<body>
		<div class="project">
			
			<%- include('../components/nav.ejs') %>
			
			<ul class="project-list">
				<li>
					<img src="./img/7.PNG"/>
					<div class="project-list-right">
						<h3>baihe.com<span>2020-02-02</span></h3>
						<h4>my responsibilities:</h4>
						<p>1.web design</p>
						<p>2.data</p>
					</div>
				</li>
				
				
				<li>
					<div class="project-list-right">
						<h3>Hupu<span>2020-02-02</span></h3>
						<h4>my responsibilities:</h4>
						<p>1.web design</p>PNG
						<p>2.test</p>
					</div>
					<img src="./img/8.PNG"/>
				</li>
				
				
				<li>
					<img src="./img/1.jpg"/>
					<div class="project-list-right">
						<h3>index<span>2020-02-02</span></h3>
						<h4>my responsibilities:</h4>
						<p>1.web design</p>
					</div>
				</li>
				
			</ul>
			<%- include('../components/footer.ejs') %>
			
			
			
		</div>
		<script src="./js/index.js"></script>
	</body>
</html>