<div class="n-nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/project">Project</a></li>
		<li><a href="/service">Service</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contactMe">Contact Me</a></li>
		<li><a href="/login" ></a></li>
	</ul>
</div>